  <h1>Hi Welcome Back</h1>
  <h3>Login Here</h3>
  <form (ngSubmit)="onSubmit()">
        <div class="form-div">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email" (blur)="updateerror()" type="text" value="" required />
            <mat-icon matSuffix>email</mat-icon>
            @if(email.invalid){
                <mat-error>{{errormsg()}}</mat-error>
            }
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="password" (blur)="updateerror()" type="password" value="" required />
            <mat-icon matSuffix>lock</mat-icon>
            @if(password.invalid){
              <mat-error>{{errormsg()}}</mat-error>
            }
            </mat-form-field>
            <button mat-stroked-button type="submit">Login</button>
            @if(!temp){
              <mat-error>{{res()}}</mat-error>
            }
        </div>
    </form>