<div class="wrapper">
    <div class="main">
        <!-- <div class="profile"> -->
        @switch(usertype){
            @case(2){
                <!-- <form class="profile-form"> -->
                <mat-card>
                    <!-- <div class="job-input-group"> -->
                    <mat-card-header>
                        <mat-card-title>
                            <h2>{{title}}</h2>
                        </mat-card-title>
                    </mat-card-header>

                    <mat-card-content>
                            <mat-form-field >
                                <mat-label>New job title...</mat-label>
                                <input matInput [(ngModel)]="newJobTitle" type="text">
                            </mat-form-field>
                            
                            <mat-form-field >
                                <mat-label>Job Category...</mat-label>
                                <mat-select [(ngModel)]="newJobCategory" class="mat-select">
                                    <mat-option class="mat-option" value="a">a</mat-option>
                                    <mat-option class="mat-option" value="b">b</mat-option>
                                    <mat-option class="mat-option" value="c">c</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Salary...</mat-label>
                                <input matInput [(ngModel)]="newJobSalary" type="text">
                            </mat-form-field>

                            <mat-form-field >
                                <mat-label>Description...</mat-label>
                                <textarea matInput [(ngModel)]="newJobDescription" rows="20" cols="50"></textarea>
                            </mat-form-field>

                            <button mat-flat-button (click)="addJob()">Add</button>
                        </mat-card-content>
                    <!-- </div> -->
                </mat-card>
                <!-- </form> -->
            }
            <!-- 
            @default{ -->
                <!-- <div class="jobs-list-main">
                    <div class="jobs-list-header">
                        <span>TITLE</span>
                        <span>CATEGORY</span>
                        <span>SALARY</span>
                        <span>DESCRIPTION</span>
                    </div>
                    <div class="jobs">
                        @for(job of jobs; track trackById(job)){
                            <div>
                                <div>{{job.title}}</div>
                                <div>{{job.category}}</div>
                                <div>{{job.salary}}</div>
                                <div>{{job.description}}</div>
                            </div>
                        }
                    </div>
                </div> 
            }
            -->
        }
        <!-- </div> -->
    </div>
</div>