<div class="main">
    @switch(usertype){
        @case(1){
            <mat-card class="add-jobb">
                <mat-card-header>
                    <mat-card-title>
                        <h2>{{title}}</h2>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content>
                        <mat-form-field >
                            <mat-label>New job title...</mat-label>
                            <input matInput [(ngModel)]="newJobTitle" type="text">
                        </mat-form-field>
                        
                        <mat-form-field >
                            <mat-label>Job Category...</mat-label>
                            <mat-select [(ngModel)]="newJobCategory" class="mat-select">
                                <mat-option class="mat-option" value="a">a</mat-option>
                                <mat-option class="mat-option" value="b">b</mat-option>
                                <mat-option class="mat-option" value="c">c</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field >
                            <mat-label>Salary...</mat-label>
                            <input matInput [(ngModel)]="newJobSalary" type="number">
                        </mat-form-field>

                        <mat-form-field >
                            <mat-label>Description...</mat-label>
                            <textarea matInput [(ngModel)]="newJobDescription" rows="20" cols="50"></textarea>
                        </mat-form-field>

                        <button mat-flat-button (click)="addJob()">Add</button>
                    </mat-card-content>
            </mat-card>

            <mat-card class="company-jobs">
                <mat-card-header>
                    <mat-card-title></mat-card-title>
                    <div class="jobs-list-header">
                        <span>TITLE</span>
                        <span>CATEGORY</span>
                        <span>SALARY</span>
                    </div>
                </mat-card-header>

                <mat-card-content class="jobs">
                    @for(job of jobs; track $index){
                        <app-job [job]="job" (jobDeleted)="delete($event)"></app-job>
                    }
                </mat-card-content>
            </mat-card>    
        }
        
        @case(0){
            <div class="jobs-list-main">
                @for(job of jobs; track $index){
                    <mat-card class="example-card" appearance="outlined">
                        <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>{{job.title}}</mat-card-title>
                            <mat-card-subtitle>{{job.companyname}}</mat-card-subtitle>
                            <mat-card-subtitle>Salary: {{job.salary | currencypipe}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <p>{{job.description}}</p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-button>APPLY</button>
                        </mat-card-actions>
                    </mat-card>
                }
            </div> 

                <!--
                <div class="jobs-list-header">
                    <span>TITLE</span>
                    <span>CATEGORY</span>
                    <span>SALARY</span>
                    <span>DESCRIPTION</span>
                </div>
                <div class="jobs">
                    @for(job of jobs; track trackById(job)){
                        <div>
                            <div>{{job.title}}</div>
                            <div>{{job.category}}</div>
                            <div>{{job.salary}}</div>
                            <div>{{job.description}}</div>
                        </div>
                    }
                </div>
        -->
        }
    }
</div>