<mat-nav-list>
        @switch(profile.type){
            @case(0){        
                <a mat-list-item routerLink="/login" routerLinkActive="active-list-item" (click)="closemenu()">
                    <mat-icon matListItemIcon>key</mat-icon>
                    <label matListItemTitle>LOGIN</label>
                </a>
                <a mat-list-item routerLink="/register" routerLinkActive="active-list-item" (click)="closemenu()">
                    <mat-icon matListItemIcon>add-circle</mat-icon>
                    <label matListItemTitle>CREATE ACCOUNT</label>
                </a>
            }
            @default{
                <a mat-list-item routerLink="/profile" routerLinkActive="active-list-item" (click)="closemenu()">
                    <mat-icon matListItemIcon>person</mat-icon>
                    <label matListItemTitle>PROFILE</label>
                </a>
                <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="logout()">
                    <mat-icon matListItemIcon>logout</mat-icon>
                    <label matListItemTitle>Logout</label>
                </a>
            }
        }
        <a mat-list-item routerLink="/home" routerLinkActive="active-list-item" (click)="closemenu()">
            <mat-icon matListItemIcon>home</mat-icon>
            <label matListItemTitle>HOME</label>
        </a>
        <a mat-list-item routerLink="/jobs" routerLinkActive="active-list-item" (click)="closemenu()">
            <mat-icon matListItemIcon>work</mat-icon>
            <label matListItemTitle>JOBS</label>
        </a>
</mat-nav-list>
<!-- <nav>
    <ul (click)="menuSwitcher($event)">
        <li value="home">HOME</li>
        <li value="login">LOGIN</li>
        <li value="register">REGISTER</li>
        <li value="profile">PROFILE</li>
        <li value="jobs">JOBS</li>
    </ul>
</nav> -->