<nav>
    <ul>
        @switch(profile.type){
            @case(0){        
                <a routerLink="/login" >
                    <label for="login" for="login">LOGIN</label>
                </a>
                <a routerLink="/register">
                    <label for="register" for="register">REGISTER</label>
                </a>
            }
            @default{
                <a routerLink="/profile">
                    <label for="profile" for="profile">PROFILE</label>
                </a>
            }
        }
        <a id="home" routerLink="/home">
            <label for="home" for="home">HOME</label>
        </a>
        <a routerLink="/jobs">
            <label for="jobs" for="jobs">JOBS</label>
        </a>
    </ul>
</nav>
<!-- <nav>
    <ul (click)="menuSwitcher($event)">
        <li value="home">HOME</li>
        <li value="login">LOGIN</li>
        <li value="register">REGISTER</li>
        <li value="profile">PROFILE</li>
        <li value="jobs">JOBS</li>
    </ul>
</nav> -->